body {
  background-color: #ffffff;
  font-family: 'Assistant', sans-serif;
  color: #00A5C2;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #07C9EB;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #07C9EB !important;
}

.btn-navbar-right {
  margin-top: -18px !important;
  margin-bottom: -16px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0px;
}

.btn-login {
  background-color: #00A5C2;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #07C9EB;
  color: #ffffff;
}

header {
  padding: 180px 0 165px;
  margin-top: -76px;
  background-image: url("../images/Placholder Banner.jpg");
  background-size: cover;
}

header h1 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  color: #ffffff;
  font-size: 22px;
}

header .btn-get-started {
  background-color: #00A5C2;
  color: #ffffff;
}

header .btn-get-started:hover {
  background-color: #07C9EB;
  color: #ffffff;
}

.section-stats {
  margin-top: -40px;
}

.section-stats .stats-detail {
  padding-top: 20px;
  background-color: #ffffff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0px;
  font-weight: normal;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #00A5C2;
  margin-top: -65px;
  margin-bottom: -230px;
}

.section-popular .section-populer-heading {
  margin-top: 150px;
}

.section-popular .section-populer-heading h2, .section-popular .section-populer-heading p {
  color: #ffffff;
}

.section-popular .section-populer-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular-content .section-populer-travel .card-travel {
  min-height: 380px;
  background-color: #E4E6EB;
  color: #ffffff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-populer-travel .travel-country {
  font-size: 18px;
  color: #ffffff;
}

.section-popular-content .section-populer-travel .travel-location {
  font-size: 26px;
  color: #ffffff;
  font-weight: bold;
}

.section-popular-content .section-populer-travel .travel-button .button-travel-details {
  background-color: #00A5C2;
  color: #ffffff;
}

.section-popular-content .section-populer-travel .travel-button .button-travel-details:hover {
  background-color: #07C9EB;
  color: #ffffff;
}

.section-network {
  background-color: #ffffff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-network h2 {
  font-family: 'playfair Dispaly', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-network p {
  font-size: 18px;
}

.section-network img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f9ff));
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: 'playfair display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 26px;
  color: #6e6e6e;
  min-height: 160px;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: #00A5C2;
  color: #ffffff;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #07C9EB;
  color: #ffffff;
}

.section-testimonial-content .btn-need-help {
  background-color: #f2f2f2;
  color: #6e6e6e;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #fafafa;
  color: #6e6e6e;
}

.section-footer a {
  color: #00A5C2;
}

.section-footer h5 {
  font-weight: bold;
}

.section-details-header {
  min-height: 310px;
  background: #E4E6EB;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #00A5C2;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
  font-weight: bold;
}

.section-details-content .card-details h2 {
  font-size: 20px;
  font-weight: 600;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #00A5C2;
}

.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .checkout-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #00A5C2;
}

.section-details-content .card-details .checkout-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .payment-intructions {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details h3 {
  font-weight: 300;
  font-size: 14px;
  color: #00A5C2;
}

.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
  background-color: #00A5C2;
  color: #fff;
}

.section-details-content .card-details .btn-add-now:hover {
  background-color: #07C9EB;
  color: #fff;
}

.section-details-content .card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #00A5C2;
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item .description {
  margin-left: 10;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #00A5C2;
}

.section-details-content .card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #00A5C2;
  margin-bottom: 0px;
}

.section-details-content .features p {
  margin-bottom: 0px;
}

.section-details-content .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.gallery .xzoom-container {
  display: block;
}

.gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.gallery .xzoom-container .xactive {
  border: 2px solid #00A5C2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.member .member-image {
  height: 40px;
  width: 40px;
}

.join-container {
  margin-top: -16px;
}

.btn-join-now {
  background-color: #00A5C2;
  color: #fff;
  border-radius: 0;
}

.btn-join-now:hover {
  background-color: #07C9EB;
  color: #fff;
}

.section-succsess {
  height: 90vh;
}

.section-succsess h1 {
  font-weight: 600;
  font-size: 26px;
  color: #1b2f33;
}

.section-succsess p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-succsess .btn-homepage {
  border-radius: 4px;
  background-color: #00A5C2;
  color: #fff;
}

.section-succsess .btn-homepage:hover {
  background-color: #07C9EB;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */